.colors {
    margin: 0.2%;
    background-color: white;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    border: 0.5px solid lightgray;
  }
  
  .color-option {
    cursor: pointer;
    height: 20px;
    float: left;
    width: 20px;
    border-radius: 20px;
    border: 0.5px solid lightgray;
    margin: 2px;
  }